<main>
  <div class="container card p-4 text-center">
    <h4 class="text-start">Bonjour {{nomComplet}}</h4>
    <hr>
    <h5 class="text-start">Profil</h5>
    <hr>
    <form #formulaire=ngForm (ngSubmit)="soumettreFormulaire()" class="row g-3">
      <div class="col-md-6 text-start">
        <label class="form-label">Date d'embauche</label>
        <input readonly class="form-control" type="text" value="{{DateUtils.formatterDate(dateEmbauche)}} {{dateEmbauche?.getFullYear()}}">
      </div>
      <div class="col-md-6 text-start">
        <label class="form-label">Rôle</label>
        <input readonly class="form-control" type="text" value="{{role}}">
      </div>
      <div class="col-md-6 text-start">
        <label class="form-label">Taux horaire ($)</label>
        <input readonly class="form-control" type="text" value="{{tauxHoraire}}">
      </div>
      <div class="col-md-6 text-start">
        <label class="form-label">Numéro d'assurance social</label>
        <input #referenceNas=ngModel [(ngModel)]="nasFormulaire" [class.is-valid]="estNasValide() && referenceNas.touched && formulaireActif"
               [class.is-invalid]="formulaireActif && !estNasValide() && formulaire.touched" name="nas"
               placeholder="NAS pas encore fourni" [readonly]="!formulaireActif"
               class="form-control" type="password" value="{{numeroAssuranceSociale}}">
        <div class="invalid-feedback">{{MESSAGE_NAS_INVALIDE}}</div>
      </div>
      <div class="col-md-6 text-start">
        <label class="form-label">Superviseur</label>
        <input placeholder="Aucun" readonly class="form-control" type="text" value="{{superviseur}}">
      </div>
      <div class="col-md-6 text-start">
        <label class="form-label">Nombre d'heure travaillées cette semaine</label>
        <input readonly class="form-control" type="number" value="{{nombreHeuresTravaillees}}">
      </div>
    </form>
    <hr>
    <div>
      <button type="submit" (click)="formulaireActif ? soumettreFormulaire() : activerFormulaire()" class="btn btn-success" [disabled]="formulaireActif && !estNasValide()">
        {{formulaireActif ? "Confirmer les changements" : "Mettre à jour"}}
      </button>
    </div>

  </div>
</main>
