.background-navbar {
  background-color: blueviolet;
}

.zoom-on-hover {
  cursor: pointer;
  transition: transform .2s;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}

.navbar {
  background: linear-gradient(to right, navy, #170E42FF, #341D65FF, #5300B3FF, #341D65FF, #170E42FF, navy);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

