<main>
  <div style="width: 40%" class="foreground card container p-4 text-center">
    <form class="row g-2 justify-content-center">
      <h2 class="mb-3">Quart pour {{dateFormattee()}}</h2>
      <div *ngIf="afficherErreur" class="mb-3" role="alert">
        <h3 class="alert alert-danger text-center">MESSAGE_ERREUR</h3>
      </div>
      <div class="col-md-3">
        <label class="form-label">Heure de début</label>
        <input name="heureDebut" [(ngModel)]="heureDebut" class="form-control" type="time">
      </div>
      <div class="col-md-3">
        <label class="form-label">Heure de fin</label>
        <input name="heureFin" [(ngModel)]="heureFin" class="form-control" type="time">
      </div>
      <div class="col-md-12"></div>
      <div class="col-md-3">
        <label class="form-label">Début du repas</label>
        <input name="debutRepas" [(ngModel)]="debutRepas" class="form-control" type="time">
      </div>
      <div class="col-md-3">
        <label class="form-label">Fin du repas</label>
        <input name="finRepas" [(ngModel)]="finRepas" class="form-control" type="time">
      </div>
      <div class="justify-content-center d-flex mt-3">
        <button (click)="ajouterQuart()" class="btn btn-success btn-lg mx-2">Ajouter</button>
        <button (click)="cacherFormulaire()" class="btn btn-danger btn-lg mx-2">Annuler</button>
      </div>
    </form>
  </div>
</main>
